#browser {
--colorFg: rgb(232, 224, 232) !important;  /* foreground text */
--colorFgAlpha: rgba(232, 224, 232, 0.1) !important; /* foreground text */
--colorFgIntense: rgb(232, 224, 232) !important; /* foreground text */
--colorFgFaded: rgb(0, 0, 0) !important; /* unfocused window foreground text */
--colorFgFadedMore: rgb(0, 0, 0) !important; /* unfocused window foreground text */
--colorFgFadedMost: rgb(0, 0, 0) !important; /* unfocused window foreground text */
--colorBg: rgb(77, 67, 87) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlpha: rgba(77, 67, 87, 0.9) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavy: rgba(77, 67, 87, 0.65) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaHeavier: rgba(77, 67, 87, 0.25) !important; /* adress bar and selected tab and settings sidebar */
--colorBgAlphaBlur: rgb(21, 18, 24) !important; /* adress bar and selected tab */
--colorBgDark: rgb(21, 18, 24) !important; /* n/a */
--colorBgDarker: rgb(0, 0, 0) !important; /* n/a */
--colorBgLight: rgb(12, 10, 14) !important; /* unfocused adress bar and selected tab */
--colorBgLighter: rgb(38, 32, 43) !important; /* unfocused adress bar and selected tab */
--colorBgLightIntense: rgb(38, 32, 43) !important; /* n/a */
--colorBgIntense: rgb(21, 18, 24) !important; /* search field */
--colorBgIntenser: rgb(0, 0, 0) !important; /* search field */
--colorBgIntserAlpha: rgba(0, 0, 0, 0.92) !important; /* search field */
--colorBgInverse: rgb(74, 69, 78) !important; /* only on crtl+f => not found */
--colorBgInverser: rgb(25, 23, 27) !important; /* only on crtl+f => not found */
--colorBgFaded: rgb(218, 186, 249) !important; /* n/a */
--colorHighlightBg: rgb(218, 186, 249) !important; /* text highlight and search field border */
--colorHighlightBgFaded: rgb(25, 4, 46) !important;  /* text highlight and search field border */
--colorHighlightBgAlpha: rgba(218, 186, 249, 0.1) !important; /* text highlight and search field border */
--colorHighlightBgDark: rgb(0, 0, 0) !important; /* text highlight and search field border */
--colorHighlightFg: rgb(62, 36, 89) !important; /* selected text */
--colorHighlightFgAlpha: rgba(62, 36, 89, 0.5) !important; /* selected text */
--colorHighlightFgAlphaHeavy: rgba(62, 36, 89, 0.25) !important; /* selected text */
--colorAccentBg: rgb(21, 18, 24) !important; /* tab bg color */
--colorAccentBgAlpha: rgba(21, 18, 24, 0.55) !important; /* tab bg color */
--colorAccentBgAlphaHeavy: rgba(21, 18, 24, 0.35) !important; /* tab bg color */
--colorAccentBgDark: rgb(30, 26, 32) !important; /* n/a */
--colorAccentBgDarker: rgb(16, 13, 18) !important; /* n/a */
--colorAccentBgFaded: rgb(21, 18, 24) !important; /* unfocused tab bg color */
--colorAccentBgFadedMore: rgb(30, 26, 32) !important; /* n/a */
--colorAccentBgFadedMost: rgb(16, 13, 18) !important; /* n/a */
--colorAccentBorder: rgb(74, 69, 78) !important; /* n/a */
--colorAccentBorderDark: rgb(0, 0, 0) !important; /* n/a */
--colorAccentFg: rgb(232, 224, 232) !important;  /* tab titles and vivaldi sign */
--colorAccentFgFaded: rgb(0, 0, 0) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlpha: rgba(232, 224, 232, 0.15) !important; /* tab titles and vivaldi sign */
--colorAccentFgAlphaHeavy: rgba(232, 224, 232, 0.35) !important; /* tab titles and vivaldi sign */
--colorBorder: rgb(150, 142, 152) !important; /* some borders */
--colorBorderDisabled: rgb(218, 186, 249) !important; /* some borders disabled */
--colorBorderSubtle: rgb(0, 0, 0) !important; /* some borders disabled */
--colorBorderIntense: rgb(74, 69, 78) !important; /* some borders disabled */
--colorSuccessBg: rgb(118 100.00% 32.75%);
--colorSuccessBgAlpha: rgba(118 100.00% 32.75% / 0.10);
--colorSuccessFg: rgb(0 0.00% 100.00%);
--colorWarningBg: rgb(48 100.00% 50.00%);
--colorWarningBgAlpha: rgba(48 100.00% 50.00% / 0.10);
--colorWarningFg: rgb(0 0.00% 0.00%);
--colorErrorBg: rgb(147, 0, 10) !important;
--colorErrorBgAlpha: rgba(147, 0, 10, 0.1) !important;
--colorErrorFg: rgb(105, 0, 5) !important;
/* --colorWindowBg: rgb(255, 180, 171) !important; new page monotone bg (replaces image background) */
/* --colorWindowFg: rgb(255, 180, 171) !important; fg for previos*/
}

/* in some color schemes settings appear too bright. this is meant to fix it. */
.vivaldi-settings,
.settings-content,
.settings-sidebar {
  background-color: rgb(21, 18, 24) !important;
}
