@use "sass:color";

$background: #1a120e;

$blue: #b8c4ff;

$blue_container: #374379;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #b1d18a;

$green_container: #354e16;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #382e2a;

$inverse_primary: #8e4d2e;

$inverse_surface: #f1dfd8;

$on_background: #f1dfd8;

$on_blue: #1f2c61;

$on_blue_container: #dde1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #1f3701;

$on_green_container: #cdeda3;

$on_orange: #532202;

$on_orange_container: #ffdbca;

$on_primary: #542105;

$on_primary_container: #ffdbcc;

$on_primary_fixed: #351000;

$on_primary_fixed_variant: #713619;

$on_purple: #462152;

$on_purple_container: #fad7ff;

$on_red: #561d20;

$on_red_container: #ffdad9;

$on_secondary: #442a1f;

$on_secondary_container: #ffdbcc;

$on_secondary_fixed: #2c160c;

$on_secondary_fixed_variant: #5d4034;

$on_surface: #f1dfd8;

$on_surface_variant: #d8c2ba;

$on_tertiary: #363106;

$on_tertiary_container: #eee4a9;

$on_tertiary_fixed: #201c00;

$on_tertiary_fixed_variant: #4e471b;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb690;

$orange_container: #703715;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #a08d85;

$outline_variant: #52443d;

$primary: #ffb595;

$primary_container: #713619;

$primary_fixed: #ffdbcc;

$primary_fixed_dim: #ffb595;

$purple: #e6b6f1;

$purple_container: #5e386a;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #ffb3b3;

$red_container: #733335;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #e6bead;

$secondary_container: #5d4034;

$secondary_fixed: #ffdbcc;

$secondary_fixed_dim: #e6bead;

$shadow: #000000;

$source_color: #e25c05;

$surface: #1a120e;

$surface_bright: #423733;

$surface_container: #271e1a;

$surface_container_high: #322824;

$surface_container_highest: #3d332e;

$surface_container_low: #231a16;

$surface_container_lowest: #140c09;

$surface_dim: #1a120e;

$surface_tint: #ffb595;

$surface_variant: #52443d;

$tertiary: #d2c78f;

$tertiary_container: #4e471b;

$tertiary_fixed: #eee4a9;

$tertiary_fixed_dim: #d2c78f;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: color.scale($surface, $alpha: -20%);
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
